<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="za.co.cporm.example.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data android:name="AUTHORITY" android:value="za.co.cporm.example"/>
        <meta-data android:name="CPORM_CONFIG" android:value="za.co.cporm.example.app.model.MyCPOrmConfiguration"/>
        <meta-data android:name="MAPPING_FACTORY" android:value="za.co.cporm.example.app.mapping.CustomColumnMapper"/>

        <activity
            android:name="za.co.cporm.example.app.ExampleActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="ANDROID.INTENT.CATEGORY.LAUNCHER"/>
            </intent-filter>
        </activity>

        <provider
            android:authorities="za.co.cporm.example"
            android:name="za.co.cporm.provider.CPOrmContentProvider"
            android:exported="false"
            android:permission="true"/>
    </application>

</manifest>
